<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>同学联系</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .dropdown:hover>.dropdown-menu {
            display: block;
        }

        .dropdown>.dropdown-toggle:active {
            pointer-events: none;
        }
        #overflowTest {
            background-color: #e8e8e8;
            color: white;
            padding: 15px;
            width: 80%;
            height: 100px;
            overflow: scroll;
            border: 1px solid #ccc;
        }
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 500px;
        }
    </style>

</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="font-size: 20px">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#" style="font-size: 30px "><img src="/img/1.png" class="mr-4">16数4</a>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item m-2 text-center" >
            <a class="nav-link " href="/User/index.html">首页</a>
        </li>
        <li class="nav-item m-2 text-center" >
            <a class="nav-link" href="/User/schoolData">学校信息</a>
        </li>
        <li class="nav-item m-2 text-center" >
            <a class="nav-link" href="/User/classData">班级信息</a>
        </li>
        <li class="nav-item m-2 text-center" >
            <a class="nav-link " href="/User/classDynamics">班级动态</a>
        </li>
        <li class="nav-item m-2 text-center" >
            <a class="nav-link active" href="/User/5">同学联系</a>
        </li>
        <li class="nav-item dropdown m-2 text-center" >
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-size: 20px">
                <img src="/img/2.png" width="30px">用户
            </a>
            <div class="dropdown-menu ">
                <a class="dropdown-item" href="/User/6">个人中心</a>
                <a class="dropdown-item" href="/User/loginOut">退出登录</a>
            </div>
        </li>
    </ul>
</nav>


<div class="container-fluid ">
   <div class="row mb-5 mt-5 pl-5 pr-5">
       <div class="col-md-12">
           <table class="table table-bordered table-hover table-success">
               <thead>
               <tr>
                   <th>学号</th>
                   <th>姓名</th>
                   <th>电话</th>
                   <th>微信</th>
                   <th>QQ</th>
                   <th>家庭住址</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="users:${usersAll}">
                   <td th:text="${users.getId()}"></td>
                   <td th:text="${users.getUserName()}"></td>
                   <td th:text="${users.getPhone()}"></td>
                   <td th:text="${users.getWeichat()}"></td>
                   <td th:text="${users.getQq()}"></td>
                   <td th:text="${users.getHome()}"></td>
               </tr>

               </tbody>
           </table>
       </div>
   </div>
    <div class="row" style="background-color: #555555">
        <div class="col-md-12" style="color: white">
            <div class="col-md-12 text-center" style="padding-top: 5px">
                <p><small>企业培训 I 合作事宜 I 版权投诉</small></p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <p><small>苏ICP备1234568.@2020班级网站.Powered by 贺强华</small></p>
        </div>
    </div>
</div>
<script src="/js/jquery-3.4.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>